html, body {
  margin: 0;
  /* font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: azure;
}

body {
  font-family: 'Cardo', serif;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

code {
  font-family: sans-serif;
  color: azure;
}

.defaultForm{
  font-family: sans-serif;
  color: azure;
}

label{
  font-family: sans-serif;
  color: azure;
}

/*a.nav-link {
  color: black !important;
}*/

[aria-selected='false'] {
  color: black !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #d86e3d !important;
}

a:hover {
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-color: black;
}

a {
  text-decoration: none;
}

a.articles {
  text-decoration: none;
}

a.articles:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: black;
}

.buttons:hover {
  opacity: 0.5;
}

a.claims {
  text-decoration: none;
}

a.claims:hover {
  opacity: 0.8;
  text-decoration: underline!important;
  text-decoration-color: black;
}

@media all and (orientation:landscape) {
  .content {
    margin-right: 20%;
    margin-left: 20%;
  }

  .contentLand {
    margin-right: 12%;
    margin-left: 12%;
  }

}

@media all and (orientation:portrait) {
  .content {
    margin-right: 0%;
    margin-left: 0%;
  }

  .menuContainer{
    margin-left: 1%!important;
  }

  Col .contentLand {
    margin-right: 4%;
    margin-left: 4%;
  }

}