html, body {
  margin: 0;
  /* font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: azure;
  overflow-x: hidden;
}

body {
  font-family: 'Cardo', serif;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

code {
  font-family: sans-serif;
  color: azure;
}

.defaultForm{
  font-family: sans-serif;
  color: azure;
}

label{
  font-family: sans-serif;
  color: azure;
}

/*a.nav-link {
  color: black !important;
}*/

[aria-selected='false'] {
  color: black !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #d86e3d !important;
}

a:hover {
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-color: black;
}

a {
  text-decoration: none;
}

a.articles {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.articles:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: black;
}

.buttons:hover {
  opacity: 0.5;
}

a.claims {
  text-decoration: none;
}

a.claims:hover {
  opacity: 0.8;
  text-decoration: underline!important;
  text-decoration-color: black;
}

.anticon {
  display: inline-flex!important;
  align-items: center!important;
}

.reactions:hover {
  opacity: 0.6;
}

/* Default styles */
.save-for-later {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

/* Star icon */
.save-for-later .star {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: transform 0.2s;
}

/* Button text */
.save-for-later .text {
  color: black;
  visibility: hidden;
}


/* Button hover styles */
.save-for-later:hover .star + .text {
  visibility: visible;
}


/* Button active styles */


/* Button active styles for the star icon only */
.save-for-later:active .star {
  transform: scale(1.2);
}

/* Button clicked styles */

.save-for-later.clicked .star:active {
  transform: scale(1.2);
}

#leaderboard {
  color: white
}

.dropdown-toggle::after {
  display: none !important; 
}

.emptyList {
  color: black; 
  margin-top: 10%;
  text-align: center;
  font-style: italic; 
}


@media all and (orientation:landscape) {
  .content {
    margin-right: 25%;
    margin-left: 25%;
  }

  .contentLand {
    margin-right: 16%;
    margin-left: 16%;
  }

  img.myUserIcon{
    padding-left: 20%;
  }

  .reviewsModal {
    width: 40%;
  }

  .authentification {
    margin-right: 35%;
    margin-left: 35%;
  }

}

.ant-btn-primary {
  background-color: #d86e3d;
}

.ant-btn-primary:hover {
  background-color: #d86e3d;
}

.ant-btn .reactions {
  padding: 0px 0px;
  background: '#d86e3d';
}

.ant-carousel .slick-dots li button {
  background-color: #d86e3d;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #d86e3d;
}

/* styles.css */
.osx-window {
  width: 100%;
  height: 60%;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.osx-title-bar {
  background-color: #c7c7c7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.osx-buttons {
  display: flex;
}

.osx-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 4px;
}

.osx-close {
  background-color: #ff5f57;
}

.osx-minimize {
  background-color: #ffbd2e;
}

.osx-maximize {
  background-color: #28c940;
}

.osx-content {
  padding: 0px;
}


@media all and (orientation:portrait) {
  .content {
    margin-right: 0%;
    margin-left: 0%;
  }

  .menuContainer{
    margin-left: 1%!important;
    margin-right: 1%!important;
  }

  Col .contentLand {
    margin-right: 4%;
    margin-left: 4%;
  }

  .reviewsModal {
    width: 85%;
  }

}

@media all and (orientation:landscape) {
  .tutorial {
    margin-right: 20%;
    margin-left: 20%;
  }

}

.ant-tour {
  max-width: 100%;
}

