html, body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: azure;
}

code {
  font-family: sans-serif;
  color: azure;
}

.defaultForm{
  font-family: sans-serif;
  color: azure;
}

label{
  font-family: sans-serif;
  color: azure;
}

[title="Your email"] {
  color: white !important;
}

[title="Your password"] {
  color: white !important;
}

[title="Remember me"] {
  color: white !important;
}

