html, body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: azure;
}

code {
  font-family: sans-serif;
  color: azure;
}

.defaultForm{
  font-family: sans-serif;
  color: azure;
}

label{
  font-family: sans-serif;
  color: azure;
}

[title="Your email"] {
  color: white !important;
}

[title="Your password"] {
  color: white !important;
}

[title="Remember me"] {
  color: white !important;
}

/*a.nav-link {
  color: black !important;
}*/

[aria-selected='false'] {
  color: black !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #00887A !important;
}

a:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

a.articles {
  text-decoration: none;
}

a.articles:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: white;
}

.buttons:hover {
  opacity: 0.5;
}